<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
 <!--  <link rel="import" href="bower_components/google-chart/google-chart.html"> -->
 <style>
 google-chart {
  height: 400px;
  width:  45.5em;
}
table, h4, paper-button{
	font-family: "Candara", Georgia, Serif;
}
</style>



<script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>

</head>
<body>  
	<px-card style="height: 10%; height:70px; height:45px!important; padding-top:1px; width:100% !important;">
		<div id="serchselection" style="height: 2px;"></div>
		<paper-button raised id="ExpCol" ><i class="fa fa-search" aria-hidden="true"></i> Search</paper-button>
		<paper-button raised id="resetSearch"  ng-click="reset()">Reset Search</paper-button>
	</px-card>	
<simple-dialog id="modal" modal role="alertdialog" align="center">
	 <input type="button" id="cross" value="X" dialog-dismiss></input>
	 <h3 id="popUpH3">Search using below Options</h3>
	 <div>
		

		<paper-material class="draggable" elevation="1" style="z-index:5;background:white;">  
			 <paper-typeahead-input-customer id="paperName" max-suggestions="10"  remote-url="https://predix-asset.run.aws-usw02-pr.ice.predix.io/customer?filter=customerName1=%QUERY*&fields=customerId,customerName1" placeholder="Customer name" style="font-size:10px ;margin-bottom: 5px;"> 
			<!-- <paper-typeahead-input-customer max-suggestions="5" remote-url="views/customer.json?filter=customerName1=%QUERY*&fields=customerId,customerName1" placeholder="Enter Customer Name" style="font-size:10px"> -->
			</paper-typeahead-input-customer> 
			</paper-material> 
			
	

		
		<paper-material class="draggable" elevation="1" style="z-index:4;background:white">  
			 <paper-typeahead-input-customer-city id="paperCity" max-suggestions="10"   remote-url="https://predix-asset.run.aws-usw02-pr.ice.predix.io/customer?filter=customerAddress=%QUERY*&fields=customerId,customerAddress" placeholder="Customer city" style="font-size:10px;margin-bottom: 5px;" > 
			<!-- <paper-typeahead-input-customer max-suggestions="5" remote-url="views/customer.json?filter=customerName1=%QUERY*&fields=customerId,customerName1" placeholder="Enter Customer Name" style="font-size:10px"> -->
			</paper-typeahead-input-customer-city> 
			</paper-material>

			
		
			<paper-material class="draggable1" elevation="1" style="z-index:3;background:white;">
				<paper-typeahead-input-site id="paperSite" max-suggestions="10" remote-url="https://predix-asset.run.aws-usw02-pr.ice.predix.io/site?filter=siteName=%QUERY*&fields=siteId,siteName"   placeholder="Site name" style="font-size:10px;margin-bottom: 5px;">
				<!-- <paper-typeahead-input-site id="paperSite" max-suggestions="5" remote-url="views/site.json?filter=siteName=%QUERY*&fields=siteId,siteName"   placeholder="Search by Site Name"> -->
				</paper-typeahead-input-site> 
			</paper-material> 

			


		
	<paper-material class="draggable1" elevation="1" style="z-index:2;background:white;">
				<paper-typeahead-input-site-city id="paperSiteCity" max-suggestions="10"   placeholder="Site city" style="font-size:10px;margin-bottom: 5px;">
				</paper-typeahead-input-site-city> 
			</paper-material>
			

			<paper-material class="draggable3" elevation="1" style="z-index:1;background:white;">
				<paper-typeahead-input-sku id="paperSku" max-suggestions="10"   placeholder="Sku description" remote-url="https://predix-asset.run.aws-usw02-pr.ice.predix.io/sku?filter=skuDescription=%QUERY&fields=skuDescription,specification" style="font-size:10px;margin-bottom: 5px;">
				<!-- <paper-typeahead-input-sku id="paperSku" max-suggestions="5"   placeholder="Search by Sku Description" remote-url="views/sku.json?filter=skuDescription=%QUERY*&fields=skuDescription,specification"> -->
				</paper-typeahead-input-sku> 
			</paper-material> 
			</div>
		
        <div class="" style="">
          <paper-button dialog-dismiss id="btnSearch" ng-click="abc()" style="">Search</paper-button>
		  

          
		   <paper-button ng-click="clear()" id="btnClear" style="">Clear</paper-button>
        </div>
      </simple-dialog>	
	<px-card style="width:74.5%;min-height: 715px;margin-top:-0.4%">
		<div style="width:50px;top: 340px; position:absolute;left: 563px; z-index: 100;">
			<paper-spinner active id="paperSpinner"></paper-spinner>
		</div>	
		<!-- <google-chart id="googleChart" style="height:470px;width:42.5em;"></google-chart> -->
		<div id="googleChart"></div>
		<div style="display: none;" id="skuPrevNext">
			<a href="#" id="skuPrevious" ng-click="skuPrevious()" style="text-decoration: none;"><< Previous</a>
			<a href="#" id="skuNext" ng-click="skuNext()" style="text-decoration: none;">Next >></a>		
		</div>	
		<div style="display: none;" id="skuByCustomerPrevNext">
			<a href="#" id="skuByCustomerPrevious" ng-click="skuByCustomerPrevious()" style="text-decoration: none;"><< Previous</a>
			<a href="#"  id="skuByCustomerNext" ng-click="skuByCustomerNext()" style="text-decoration: none;">Next >></a>		
		</div>	
		<div style="display: none;" id="skuBySitePrevNext">
			<a href="#"  id="skuBySitePrevious" ng-click="skuBySitePrevious()" style="text-decoration: none;"><< Previous</a>
			<a href="#"  id="skuBySiteNext" ng-click="skuBySiteNext()" style="text-decoration: none;">Next >></a>		
		</div>		
	</px-card>
	<px-card style="width: 27.2%;
    height: 92.3%;
    position: absolute;
    top: 51px;
    left: 924px;
	background-color:#f2f2f2
">
		<paper-button toggles raised class="custom blue" id="toggle" style="" ng-click="swapChartType()">Toggle Chart</paper-button>
		<h4>Customer Details</h4>
		<hr/>
		<table id="tblCustomer">
			<tr>
				<th align="left">Customer Name</th>
				<td>:</td>
				<td ng-repeat="customerData in customerResponseData">{{customerData.customerName1}}</td>
			</tr>
			<tr>
				<th align="left">Country</th>
				<td>:</td>
				<td ng-repeat="customerData in customerResponseData">{{customerData.country}}</td>
			</tr>
			<tr>
				<th align="left">Corporate Group</th>
				<td>:</td>
				<td ng-repeat="customerData in customerResponseData">{{customerData.corporateGroup}}</td>
			</tr>
			<tr>
				<th align="left">Account Group</th>
				<td>:</td>
				<td ng-repeat="customerData in customerResponseData">{{customerData.accountGroup}}</td>
			</tr>
			<tr>
				<th align="left">Telephone</th>
				<td>:</td>
				<td ng-repeat="customerData in customerResponseData">{{customerData.telephone}}</td>
			</tr>
			<tr>
				<th align="left">Fax</th>
				<td>:</td>
				<td ng-repeat="customerData in customerResponseData">{{customerData.fax}}</td>
			</tr>			
		</table>
		<br/>
		<h4>Site Details</h4>
		<hr/>
		<table id="tblSite">
			<tr>
				<th align="left">Site Name</th>
				<th>:</th>
				<td ng-repeat="siteData in siteResponseData">{{siteData.siteName}}</td>
			</tr>
			<tr>
				<th align="left">Country</th>
				<td>:</td>
				<td ng-repeat="siteData in siteResponseData">{{siteData.siteAddress.country}}</td>
			</tr>
			<tr>
				<th align="left">Store Type</th>
				<td>:</td>
				<td ng-repeat="siteData in siteResponseData">{{siteData.storeType}}</td>
			</tr>
			<tr>
				<th align="left">Description</th>
				<td>:</td>
				<td ng-repeat="siteData in siteResponseData">{{siteData.siteDescription}}</td>
			</tr>			
		</table>
	</px-card>
	<script>
		function toggle(selector) {
			document.querySelector(selector).toggle();
		}

		window.addEventListener('google-map-marker-click', function(e) {
			//alert('qq');
			$(".marker1").contents().remove();	
		});
		
		window.addEventListener('google-map-marker-dblclick', function(e) {
		});
				
		window.addEventListener('btnModalPositiveClicked', function(e) {
			//alert('qq');
			//alert('px');	
		});
		
		function btnModalPositiveClicked(evt){
			//alert('hello');
		}

		$(document).ready(function() {
			$('#ExpCol').click(function(){
				var removeSite = document.querySelector('#modal');
				removeSite.toggle();
			});
		});

		$(document).ready(function() {
			$('#Exppx').click(function(){
			});
		});
	</script>
</body>
</html>