<head>

</head>
<style>
table{
width:100%;
background-color:
padding-left: 1rem;
font-family:Arial;
}
.th
{
width:20%;
font-weight: bold;
}
#btnSubmit{
width:133px;
background:#ef674f;
border-radius:18px;
color:white;
font-family: candara;
text-transform:capitalize !important;
}
</style>
<div style="width: 50px;top:300px;position:relative; left:500px;z-index:100;">
    <paper-spinner active style="z-index:10000;postion:relative;color:white;" id="spin_id"></paper-spinner>
</div>
<px-card header-text='Site Proposal Summary'>
 <div>
 <table>

 <tr><td class="th">SiteId</td><td>{{siteId}}</td></tr>
 <tr><td class="th">Site Name</td><td>{{siteName}}</td></tr>
 <tr><td class="th">Address</td><td>{{siteAddress}}</td></tr>
 <tr><td class="th">Project Manager</td><td>{{pm}}</td></tr> 
  <tr><td class="th">Current Stage</td><td>{{currentStage}}</td><td></td></tr> 
   <tr>
 <tr><td class="th" >Estimated Ship Date</td ><td id="estShipdate"><td></td></tr> 
 <td></td><tr>

 <!-- <tr><td class="th">Project Manager</td><td>{{siteData.siteNm}}</td></tr> -->
 </table>
 </div>
</px-card>
<px-card header-text='Proposal List'>
 <px-data-table table-data={{tabledata}} id="mytable">

          <px-data-table-column
          name="skuId"
		   label="SKU ID"
          >
        </px-data-table-column> 
		
		<px-data-table-column
          name="SkuDescription"
		  label="SKU Description"		  
          sortable>
        </px-data-table-column> 
		
		<px-data-table-column
          name="sapArticleNo"
		   label="Sap Article No.">
        </px-data-table-column> 
		
		<px-data-table-column
          name="quantity"
		   label="Quantity"
			editable>
        </px-data-table-column> 
		
		<px-data-table-column
          name="price"
		   label="Cost">
        </px-data-table-column>   
		
</px-data-table>  
</px-card>

<!-- <px-card>
		<paper-material elevation="1" style="font-size:10px;margin-bottom:3px;width:450px;">
			  <paper-typeahead-input-sku id="paperSku" max-suggestions="10"   placeholder="Search by SKU Description" remote-url="https://predix-asset.run.asv-pr.ice.predix.io/sku?filter=skuId=/.*%QUERY.*/&fields=skuDescription,skuId" style="font-size:10px;margin-bottom: 5px;">
				
				</paper-typeahead-input-sku> 
			</paper-material> 
		
	<td><button type="submit" class="btn btn-default btn-lg btn-upload" ng-click="addSku()"> Add SKU </button></td>
				
			
</px-card> -->

    
