

<px-card header-text="RDL">

 <px-data-table id="pmview" selected-rows="{{mySelectedRows}}"  filterable selectable table-column striped table-data="{{completedsurvey}}" >

	<px-data-table-column
              name="ticketId"
		      label="Job Id"
			  type="html"
          filterable sortable>
       </px-data-table-column>

		 <px-data-table-column
               name="siteName"
		      label="Site Name"
          filterable sortable>
        </px-data-table-column>

	<px-data-table-column
               name="siteId"
		      label="Site Id"
          filterable sortable>
        </px-data-table-column>


	<px-data-table-column
               name="surveyType"
		      label="Project Type"
          filterable sortable>
        </px-data-table-column>

				<px-data-table-column
               name="surveyor"
		      label="Approver"
          filterable sortable>
        </px-data-table-column>

		<px-data-table-column
               name="survey"
		      label="Assigned To"
          filterable sortable>
        </px-data-table-column>

		<px-data-table-column
               name="currentStage"
		      label="Current Stage"
          filterable sortable>
        </px-data-table-column>

		<px-data-table-column
               name="currentStageStatus"
		      label="Status"
          filterable sortable>
        </px-data-table-column>

  </px-data-table>


<input type="button" class="btn" id="btnSearch" value="Export Report" ng-click="RdlExport()">

</px-card>

  <!--<simple-dialog id="saveExportReport" class="" modal role="alertdialog" align="center">
               <input type="button" id="cross" value="X" dialog-dismiss></input>
<div style="">
<div ng-repeat="(key,prop) in reportData">
  <div ng-repeat="(key1,prop1) in reportData[key] ">

     <div style="display: flex;" >
                                <div style="width: 150px;border:black 1px solid ">{{key1}} </div>
                                <div style="width: 8em;word-wrap: break-word;border:black 1px solid">{{prop1}}</div>
                            </div>
  </div>
</div>
</div>
      </table>          <div class="buttons">
                        <paper-button class="" style="background-color:#ef674f" id="okRedirect" dialog-dismiss>Ok</paper-button>

                </div>
              </simple-dialog>-->

<!-- <px-card>
 <px-tab-set id="demo-tab-set" selected="{{selected}}">
        <px-tab>Tab 1</px-tab>
        <px-tab>Tab 2</px-tab>
        <px-tab>Tab 3</px-tab>
    </px-tab-set>
 <px-tab-pages id="demo-tab-set" selected="{{selected}}">
            <div class="tab-page">
              <p>PX Tab Page One</p>
              <p>Some interesting content goes here...</p>
            </div>
            <div class="tab-page">
              <p>PX Tab Page Two</p>
              <p>Cool stuff goes here...</p>
            </div>
            <div class="tab-page">
              <p>PX Tab Page Three</p>
              <p>Fun stuff goes here...</p>
            </div>
            <div class="tab-page">
              <p>PX Tab Page Four</p>
              <p>Exciting stuff goes here...</p>
            </div>
          </px-tab-pages>
</px-card> -->