
<!-- <style>
google-chart {
  height: 400px;
  width: 75em;
}
</style> -->
<px-card header-text="List Of Completed Post Audit">

 <px-data-table id="pmview" selected-rows="{{mySelectedRows}}"  filterable table-column striped table-data="{{completedsurvey}}" >

	<px-data-table-column
              name="ticketId"
		      label="Job Id"
			  type="html"
          filterable sortable>
       </px-data-table-column>

		 <px-data-table-column
               name="siteName"
		      label="Site Name"
          filterable sortable>
        </px-data-table-column>

	<px-data-table-column
               name="siteId"
		      label="Site Id"
          filterable sortable>
        </px-data-table-column>


	<px-data-table-column
               name="surveyType"
		      label="Project Type"
          filterable sortable>
        </px-data-table-column>

		<px-data-table-column
               name="postAudit"
		      label="AssignedTo"
          filterable sortable>
        </px-data-table-column>

		<px-data-table-column
               name="currentStage"
		      label="Current Stage"
          filterable sortable>
        </px-data-table-column>

		<px-data-table-column
               name="currentStageStatus"
		      label="Status"
          filterable sortable>
        </px-data-table-column>

        <px-data-table-column
			name="tranche"
			label="Tranche"
			filterable sortable>
        </px-data-table-column>

  </px-data-table>
</px-card>
<!-- <px-card>
    <google-chart
      type="pie"
      options='{"title": "Distribution of Post Audit By Catagories","pieHole": 0.4}'
      cols='[{"label": "Value", "type": "string"},{"label": "Number", "type": "number"}]'
      rows='[["Fixture Installed Correctly and Operating", 2],["Fixture not Operational", 28],["Fixture Missing", 3],["Extra Fixture Installed", 5],["Fixture Not Retrofit", 5],["Poles Not Operationl", 7],["Pole Missing Form Site", 9]]'>
    </google-chart>
</px-card> -->





