
 .btn-upload{
 margin-left:76% !important;
 background-color:#4aaaa5 !important;
 font-family:Arial,sans-serif !important;
 font-weight:bold !important;
 color:#f4f4f4 !important;
 }
 .btn-reset{
  background-color:#f47e7e !important;
 font-family:Arial,sans-serif !important;
 font-weight:bold !important;
 color:#f4f4f4 !important;
 }
